name: Hello world workflow

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  say_hello:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Say Hello
        run: echo "Hello Metaroon"
        shell: bash
   
  say_good_bye:
     runs-on: ubuntu-latest
     steps:
       - name: Say GoodBye
         run: echo "GoodBye Metaroon"
         shell: bash
